<ion-view title="Hidden Wealth" id="hiddenWealth">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" ng-click="openPopover($event)"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="hiddenWealthBody has-header">
        <div class="paneUpper">
            <div class="paneTop">
                <div class="row row0">
                    <div class="col">
                        <div class="points">$78,475</div>
                        <div class="label">Total Miles</div>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-50">
                        <div class="points left">$5,478</div>
                        <div class="label">Premium Miles</div>
                    </div>
                    <div class="col-50">
                        <div class="points right">678</div>
                        <div class="label">Rewards</div>
                    </div>
                </div>
                <div class="row row2">
                    <div class="col-25">
                        <div class="label">Plane</div>
                        <div class="icon ion-plane"></div>
                        <div class="number">42,523</div>
                    </div>
                    <div class="col-25">
                        <div class="label">Train</div>
                        <div class="icon ion-android-train"></div>
                        <div class="number">4,987</div>
                    </div>
                    <div class="col-25">
                        <div class="label">Car</div>
                        <div class="icon ion-model-s"></div>
                        <div class="number">17,987</div>
                    </div>
                    <div class="col-25">
                        <div class="label">Bike</div>
                        <div class="icon ion-android-bicycle"></div>
                        <div class="number">2,034</div>
                    </div>
                </div>
                <div class="row row3">
                    <div class="col">
                        <a class="button button-block button-outline button-assertive">Invest Rewards</a>
                    </div>
                </div>
            </div>
            <div class="paneBottom">
                <div class="padding">
                    <div class="button-bar">
                        <a class="button">First</a>
                        <a class="button">Second</a>
                        <a class="button">Third</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
