<ion-view title="Item Details" id="itemDetails">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="myGoBack()">
                <i class="ion-ios-arrow-back"></i> Back
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="itemDetails has-header padding" scroll="false">
        <div class="button-bar bar-positive">
            <a class="button">Share</a>
            <a class="button">Rent</a>
            <a class="button" ng-click="onSell()">Sell</a>
        </div>
        <div class="list card">
            <div class="customItem item">
                <h2>{{ item.name }}</h2>
                <br />
                <p>{{ item.description }}</p>
            </div>
            <div class="item item-image">
                <img src="{{ item.imgUrl }}" class="item-image-img">
            </div>
            <a class="item item-icon-left item-balanced" href="#">
                Sell Value:
                {{ item.price }}
            </a>
        </div>
    </ion-content>
</ion-view>
