<ion-view id="splash" hide-nav-bar="true" cache-view="false">
    <ion-content class="vertical-center-container" scroll="false" ng-click="onUncover()">
        <div class="vertical-center">
            <!--
            <h1 class="appName">Wealth Explorer</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="bottomRow">
                <div class="padding">
                    <button class="button myWhteBtn button-block icon-left ion-home"
                            ng-click="onMyWealth()"
                            disabled="true">
                        My Wealth
                    </button>
                </div>
                <div class="padding">
                    <button class="button myWhteBtn button-block icon-left ion-star"
                            ng-click="onMyRewards()">
                        My Rewards
                    </button>
                </div>
                <div class="padding">
                    <button class="button myWhteBtn button-block icon-left ion-settings"
                            ng-click="onVirtualInvestment()">
                        Virtual Investment
                    </button>
                </div>
            </div>
            -->
        </div>
    </ion-content>
</ion-view>
