<ion-view title="uncoverJessica" id="uncoverJessica" hide-nav-bar="true" cache-view="false">
    <ion-content class="vertical-center-container" scroll="false" ng-click="onUncover()">
        <div class="vertical-center">
            <h1 class="appName">Uncover Wealth</h1>
            <br />
            <div class="bottomRow">
                <div class="padding">
                    <button class="button button-positive button-block icon-left ion-home"
                            ng-click="onHiddenWealth()">
                        Uncover Wealth
                    </button>
                </div>
                <div class="padding">
                    <button class="button button-positive button-block icon-left ion-star"
                            ng-click="onFamilyTime()">
                        Family Time
                    </button>
                </div>
                <div class="padding">
                    <button class="button button-positive button-block icon-left ion-settings"
                            ng-click="onMyItems()">
                        My Items
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
