<ion-view title="Virtual Investments" cache-view="false">
    <ion-content class="portfolio has-header">
        <div class="paneUpper">
            <div class="pointHeader">
                <div class="numeric">
                    <span class="change">+1.2%</span>
                    <div class="points">$12,145</div>
                </div>
                <div class="clear"></div>
                <div class="level">
                    <span class="number">Level 1:</span>
                    <span class="name">Beginner</span>
                </div>
            </div>
            <div class="tradesBar">
                <div class="tabs-striped tabs-top tabs-background-clear">
                    <div class="tabs">
                        <a class="tab-item active" href="#">
                            Open Trades
                        </a>
                        <a class="tab-item" href="#">
                            Closed Trades
                        </a>
                        <a class="tab-item" href="#">
                            Statistics
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tradesHistory">
            <ul class="list">
                <label class="item item-stacked-label">
                    <div class="input-label">
                        <span class="histChangeA green">+$40</span>
                        <span class="histStock">USD / JPY</span>
                    </div>
                    <div class="input-label">
                        <span class="histChangeP">-2.5%</span>
                        <span class="histTime">March 5, 3:33pm - Long</span>
                    </div>
                </label>
                <label class="item item-stacked-label">
                    <div class="input-label">
                        <span class="histChangeA red">-$12</span>
                        <span class="histStock">EUR / CHF</span>
                    </div>
                    <div class="input-label">
                        <span class="histChangeP">-0.5%</span>
                        <span class="histTime">March 4, 11:30am - Short</span>
                    </div>
                </label>
                <label class="item item-stacked-label">
                    <div class="input-label">
                        <span class="histChangeA green">+$434</span>
                        <span class="histStock">BABA</span>
                    </div>
                    <div class="input-label">
                        <span class="histChangeP">+23.5%</span>
                        <span class="histTime">March 1, 5:20am - Long</span>
                    </div>
                </label>
            </ul>
        </div>
    </ion-content>
</ion-view>
